html, body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    background-color: #1B1924;
    user-select: none;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

 h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    align-items: center;
}

img {
    width: 90px;
    margin: 0 auto;
}

input {
    color: #8F8F8F;
    background-color: #444059;
    font-family: 'Inter', sans-serif;
    font-size:15px;
    font-weight: 400;
    margin: 10px 0;
    width: 100%;
    height: 93px;
    border: 0;
    padding: 25px 0 75px 15px;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    color: #04131C;
    background-color: #28A9F1;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    height: 61px;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    }
    
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #1B1924;
    background-color: #FFFDF8;
    padding: 5px;
    border-radius: 1px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.to, .endorsement {
    text-align: left;
}

.to {
 margin-top: 0;
    margin-bottom: 5px;
}

.endorsement {
    margin-bottom: 0;
}

.to, .from {
    font-weight: bold;
}

.likes-container {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.like-status {
    margin-right: 5px; 

}

.how-many-likes {
    margin-left: 5px;

}
